<!-- パスワード変更 -->
<div class="container mx-auto max-w-md px-4 py-8 mb-20">
  <div class="card bg-neutral shadow-xl">
    <div class="card-body">
      <h2 class="card-title justify-center text-2xl mb-6">
        <%= t('.title') %>
      </h2>

      <%= form_with model: resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "space-y-4 text-lg" do |f| %>
       <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <!-- パスワード -->
        <div class="form-control">
          <label class="label text-accent">
            <span class="label-text"><%= t('.new_password') %></span>
            <span class="label-text-alt text-accent/70">
              6文字以上
            </span>
          </label>
          <%= f.password_field :password, 
              autocomplete: "new-password",
              placeholder: "6文字以上",
              class: "input input-bordered border-primary bg-secondary/50 w-full" %>
        </div>

        <!-- パスワード確認 -->
        <div class="form-control">
          <label class="label text-accent">
            <span class="label-text"><%= t('.confirm_new_password') %></span>
          </label>
          <%= f.password_field :password_confirmation, 
              autocomplete: "new-password",
              placeholder: "もう一度入力",
              class: "input input-bordered border-primary bg-secondary/50 w-full" %>
        </div>

        <!-- 送信ボタン -->
        <div class="form-control mt-6">
          <%= f.submit t('.change_my_password'),
              class: "btn btn-primary text-neutral w-full hover:btn-accent" %>
        </div>
      <% end %>
    </div>
  </div>
</div>