<!-- ログイン -->
<div class="container mx-auto max-w-md px-4 py-8 mb-20">
  <div class="card bg-neutral shadow-xl">
    <div class="card-body">
      <h2 class="card-title justify-center text-2xl mb-6">
        <%= t('.sign_in') %>
      </h2>

      <%= form_with model: resource, url: session_path(resource_name), class: "space-y-4 text-lg" do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <!-- Email -->
        <div class="form-control">
          <label class="label text-accent">
            <span class="label-text"><%= User.human_attribute_name(:email) %></span>
          </label>
          <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              placeholder: "example@email.com",
              class: "input input-bordered border-primary bg-secondary/50 w-full" %>
        </div>

        <!-- パスワード -->
        <div class="form-control">
          <label class="label text-accent">
            <span class="label-text"><%= User.human_attribute_name(:password) %></span>
            <span class="label-text-alt text-accent/70">
              6文字以上
            </span>
          </label>
          <%= f.password_field :password, 
              autocomplete: "new-password",
              placeholder: "6文字以上",
              class: "input input-bordered border-primary bg-secondary/50 w-full" %>
        </div>

        <!-- ログイン保持 -->
        <% if devise_mapping.rememberable? %>
          <div class="flex items-center gap-2">
            <%= f.check_box :remember_me, class: "checkbox checkbox-secondary border-primary text-neutral checkbox-sm" %>
            <%= f.label :remember_me, class: "label-text" %>
          </div>
        <% end %>

        <!-- ログインボタン -->
        <div class="form-control mt-6">
          <%= f.submit t('.sign_in'), 
              class: "btn btn-primary text-neutral w-full hover:btn-accent" %>
        </div>
      <% end %>

        <!-- googleログイン -->
        <div class="divider">または</div>
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <form class="button_to" method="post" action="<%= omniauth_authorize_path(resource_name, provider) %>" data-turbo="false">
                <!-- トークンを含める -->
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <button class="btn bg-neutral text-primary border-primary w-full mb-4">
                      <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path d="m0 0H512V512H0" fill="#fff"></path><path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path><path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path><path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path><path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path></g></svg>
                     Googleでログイン
                    </button>
              </form>
            <% end %>
          <% end %>
        <!-- リンク -->
        <div class="link text-center text-primary text-base">
          <%= render "devise/shared/links" %>
        </div>


