<%# 入力フォーム %>
<%= form_with model: @post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset class="fieldset bg-secondary text-base p-4 pb-20">

      <!-- 都道府県 -->
      <div class="form-control mb-4">
        <%= f.label :region, class: "label-accent" do%>
          <%= f.object.class.human_attribute_name(:region) %><span>*</span>
        <% end %>
        <%= f.text_field :region, class: "input bg-neutral w-full", placeholder: "例: 東京都" %>
      </div>

      <!-- 店名 -->
      <div class="form-control mb-4 ">
        <%= f.label :shop_name, class: "label-accent" do%>
          <%= f.object.class.human_attribute_name(:shop_name) %><span>*</span>
        <% end %>
        <div class= "flex justify-between space-x-2">
          <%= f.text_field :shop_name, class: "input bg-neutral w-full", placeholder: "例: スターバックス渋谷店" %>
      
      <!-- 店舗詳細検索ボタン -->
          <button type="button" id="search_shop_btn" class="btn btn-primary text-neutral">
          店舗詳細
          </button>
        </div>
      </div>
      
      <!-- 検索結果の表示エリア -->
      <div id="shop_result" class="mt-4"></div>

      <!-- 隠しフィールド：店舗詳細情報 -->
      <%= f.hidden_field :place_id, id: "post-place-id", value: @post.shop&.place_id %>
      <%= f.hidden_field :address, id: "post-address", value: @post.shop&.address %>
      <%= f.hidden_field :google_map_url, id: "post-map-url", value: @post.shop&.google_map_url %>
      <%= f.hidden_field :phone_number, id: "post-phone", value: @post.shop&.phone_number %>
      <%= f.hidden_field :business_hours, id: "post-hours", value: @post.shop&.business_hours %>

      <!-- 評価 -->
      <div class="form-control mb-4">
        <%= f.label :rating, class: "label-accent" %>
          <div class="rating rating-lg flex space-x-2">
            <% %w[very_poor poor ordinary good excellent].each_with_index do |value, index| %>
            <%= f.radio_button :rating, index + 1,
                class: "mask mask-star-2 bg-accent",
                id: "rating_#{index + 1}" %>
            <% end %>
           </div>
      </div>

      <!-- レビュー -->
      <div class="form-control mb-4">
        <%= f.label :body, class: "label-accent" %>
        <%= f.text_area :body, class: "textarea textarea-bordered bg-neutral w-full", rows: "4", placeholder: "カフェの感想を書いてください..." %>
      </div>

      <!-- 投稿ボタン -->
      <div class="form-control mt-6">
        <%= f.submit t('.submit'), class: "btn btn-primary text-neutral w-full" %>
      </div>
  </fieldset>
<% end %>