<!-- 投稿カードグリッド -->
<div class="container mx-auto w-full px-4 sm:w-11/12 md:w-3/4 lg:w-2/3 xl:w-1/2 pt-5 pb-25">
  <div class="card bg-neutral shadow-sm w-full mx-auto">
    <div class="card-body p-6">
      <!-- ユーザー情報 -->
      <div class="flex items-center gap-3 mb-2">
        <div class="avatar">
          <div class="w-10 rounded-full">
            <div class="bg-secondary w-10 h-10 rounded-full"></div>
          </div>
        </div>
        <div class="flex flex-col flex-1 min-w-0">
          <span class="font-medium break-words">
            <%= @post.user.username %>
          </span>
          <span class="text-accent/70 text-xs mt-1">
            <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %>
          </span>
        </div>
         <!-- 自分の投稿は編集・削除アイコン -->
         <% if user_signed_in? && current_user.own?(@post) %>
           <div class="flex gap-1">
             <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}" do %>
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
             <% end %>
             <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash"><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg>
             <% end %>
           </div>
         <% end %>
        <div class="badge badge-secondary text-accent badge-base rounded-2xl">PR</div>
      </div>
      
      <!-- 地域・店名 -->
      <div class="flex flex-col gap-0.5 mb-2">
        <div class="flex items-center gap-1.5">
          <svg class="size-[1em] text-base-content/60 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
          <span class="text-sm text-base-content/60"><%= @post.region %></span>
        </div>
        <div class="flex items-center gap-2">
          <svg class="size-[1.2em] flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
              <polyline points="1 11 12 2 23 11" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></polyline>
               <path d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
              <line x1="12" y1="22" x2="12" y2="18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></line>
            </g>
          </svg>
          <span class="font-medium text-lg"><%= @post.shop_name %></span>
        </div>
      </div>
      <!-- 画像エリア -->
      <div class="bg-gray-200 aspect-square w-full rounded mb-2"></div>
      
      <!-- 評価 -->
      <div class="rating rating-sm">
        <% (1..5).each do |i| %>
          <input type="radio" class="mask mask-star-2 bg-primary"
                 disabled <%= 'checked' if i <= @post.rating %> />
        <% end %>
      </div>

      <!-- 本文 -->
      <div class=" text-base break-words leading-relaxed" style="white-space: pre-line;">
        <%= @post.body.strip %>
      </div>

      <!-- 他の人の投稿はブックマークアイコン -->
      <!-- 自分の投稿は編集アイコン、削除アイコン -->
    </div>
  </div>
</div>