<!DOCTYPE html>
<html lang="ja" data-theme="retro">
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Twitterカード / OGP -->
    <% if @post %>
      <% twitter_card = get_twitter_card_info(@post) %>
      <meta name="twitter:card" content="<%= twitter_card[:card] %>" />
      <meta property="og:url" content="<%= twitter_card[:url] %>" />
      <meta property="og:title" content="<%= twitter_card[:title] %>" />
      <meta property="og:description" content="<%= twitter_card[:description] %>" />
      <meta property="og:image" content="<%= twitter_card[:image] %>" />
    <% end %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%# app/javascript/application.jsファイルを読み込む %>
  </head>

  <body class="bg-secondary min-h-screen flex flex-col">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <main class="flex-grow">
        <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
